// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #42A5F5;
$secondary : #37474F;
$accent    : #FFFFFF;

$dark      : #263238;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #42A5F5;
$warning   : #F2C037;

@import '~quasar-variables-styl'
